---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex items-center gap-4">
    <div class="flex-1">
      <img src="/headshot.jpg" />
    </div>
    <div class="flex-1">
      <h1>hello, nice to meet you</h1>
      <p>
        Rachelle Younie (she/her) is a writer, director, producer, and comedian
        based in "vancouver" on the stolen and ancestral territories of the
        xʷməθkʷəy̓əm, Sḵwx̱wú7mesh, and səlilwətaɬ Nations. She most often writes
        about death, dying, grief and mental health with a dark comedic tone. As
        a director, she is drawn to telling stories memory, and the challenges
        of having a human brain are explored in a naturalistic, tender and
        haunting way. She was selected to be in the 2023 VIFF Catalyst Program.
      </p>
      <p>
        Rachelle can be occasionally found doing comedy and improv with
        QueerProv and Puff the Magic Improv Show. She also plays video games
        with her cat Wanda, listens to podcasts, and watches movies.
      </p>
    </div>
  </div>
</Layout>
