---
const today = new Date();
---

<footer>
	<div class="links">
		<a href="/about">about</a>
		<a href="/writing">writing</a>
		<a href="/directing">directing</a>
		<a href="/podcast">podcast</a>
		<a href="/poems">poems</a>
		<a href="/contact">contact</a>
	</div>
	<div>&copy; {today.getFullYear()} Rachelle Younie. All rights reserved.</div>
</footer>

<style>
	.links {
		padding-bottom: 1rem;
	}

	footer {
		padding: 25px;
		text-align: center;
	}
</style>
